.news-detail-container {
  width: 680px;
  margin: 20px auto 0 auto;

  img {
    width: 100%;
    max-height: 360px;
    object-fit: cover;
    object-position: center;
  }

  h1 {
    font-family: "EB Garamond", Georgia, "Times New Roman", Times, sans-serif;
    font-size: 36px;
    text-align: center;
    color: #272727;
    margin-top: 10px;
  }

  h2 {
    font-size: 16px;
    color: #757575;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  p {
    color: #171717;
    margin-top: 15px;
    font-size: 16px;
  }

  p:last-child {
    margin-bottom: 20px;
  }
}
